@font-face {
  font-family: "iconfont"; /* Project id 4046077 */
  src: url('//at.alicdn.com/t/c/font_4046077_hrwsa1oetyi.woff2?t=1682910639540') format('woff2'),
       url('//at.alicdn.com/t/c/font_4046077_hrwsa1oetyi.woff?t=1682910639540') format('woff'),
       url('//at.alicdn.com/t/c/font_4046077_hrwsa1oetyi.ttf?t=1682910639540') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jigou:before {
  content: "\e7ca";
}

.icon-bingli:before {
  content: "\e840";
}
