@font-face {
  font-family: "iconfont"; /* Project id 4074078 */
  src: url('//at.alicdn.com/t/c/font_4074078_x1um1tbso58.woff2?t=1684378069195') format('woff2'),
       url('//at.alicdn.com/t/c/font_4074078_x1um1tbso58.woff?t=1684378069195') format('woff'),
       url('//at.alicdn.com/t/c/font_4074078_x1um1tbso58.ttf?t=1684378069195') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e639";
}

.icon-dongjie2:before {
  content: "\e656";
}

.icon-shenhetongguo:before {
  content: "\e613";
}

.icon-jigou:before {
  content: "\e62c";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-hangzhengguanli-huiyishiguanli:before {
  content: "\e642";
}

.icon-daishenhe:before {
  content: "\e83c";
}
